apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: hacbs-test-project-zo1c
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/rhtap-demo-cgay-tenant/rhtap-demo-app/hacbs-test-project-zo1c@sha256:c89580b13fca4a881da77ff101096b24cfd2c88ce6366db6627ba76a336a7a58
        name: hacbs-jvm-build-test-project
        resources: {}
status: {}
